local   all             postgres                                trust
local   all             all                                     trust
host    all             all             127.0.0.1/32            trust
host    all             all             ::1/128                 trust
local   replication     all                                     peer
host    replication     all             127.0.0.1/32            scram-sha-256
host    replication     all             ::1/128                 scram-sha-256
host    all             {{ DB_USER }}   {{ BOT_HOST }}/32        password
host    replication     {{ DB_REPL_USER }} 0.0.0.0/0             md5
